@{

}

@model Application
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@if (Model.CreeperStalker == false)
{
    <h2>Application Received. Thank you, @Model.FirstName</h2>
}
else
{
    <h2>Oh, shoot. My bad. I forgot that I'm already in a relationship.</h2>
    
}
<div>

</div>
</body>
</html>