@* Ethan Wood - Section 2 *@
@* Confirmation.cshtml - Shown after submitting the add-movie form; thanks the user *@

@{

}

@model Movie
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Thanks for the movie recommendation!</h1>
<h3>We'll see if it has what it takes for the big leagues >:)</h3>
<div>

</div>
</body>
</html>