@* Ethan Wood - Section 2 *@
@* GetToKnowJoel.cshtml - Page with links to Quick Wits Comedy and Baconsale; image links to Baconsale *@

@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Find out more about Joel!</h1>

@* Link to Quick Wits Comedy (where Joel performs regularly) *@
<p>
    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
</p>

@* Link to Baconsale site *@
<p>
    <a href="https://baconsale.com/" target="_blank">Baconsale</a>
</p>

@* Baconsale image that also links to Baconsale when clicked *@
<p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Kate" />
    </a>
</p>
